.btn{
    width: 144px;
    height: 34px;
    border: 1px solid #4a4a4a;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    transition: linear 0.5s;
}

.btn:hover{
    cursor: pointer;
    background-color: #322e2e;
    color: #fff;
}